/* Team card layout */
.team-member {
    display: inline-block;
    width: 200px;
    margin: 20px;
    text-align: center;
  }
  .team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  